doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style1.css')
		
	body
		block content
			p
			| Input: 
			
			p 
			input#input(type='textbox')
			
			button(type='button' onclick='') Add Note
			
			script(type='text/javascript' src='/javascripts/dbadd.js')